src/main/mule/hello-world-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="380de268-2935-4b89-8a34-60a5429db084" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-world-apiFlow" doc:id="bf21ee39-e932-4cf4-bc82-0220426c43ea" >
		<http:listener doc:name="Listener" doc:id="45203aae-6d1e-4f78-816a-480f0969abff" config-ref="HTTP_Listener_config" path="/hello-world"/>
		<logger level="INFO" doc:name="Logger" doc:id="2fff19b8-6ca6-4abd-a36f-0449dbeacc94" message="START"/>
		<ee:transform doc:name="Transform Message" doc:id="266e9284-adb1-498f-92a9-ba2b45ad7a39" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="response payload" doc:id="6cc85c03-3e2e-4385-baae-9b755cdcdd63" message="payload:: #[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="d3ac2711-fe2a-49b8-aaab-893bce303928" message="END"/>
	</flow>
</mule>
